*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DEBUG GRIGLIA BS */
/* [class^='container'] {
    border: 1px dashed black;
    background-color: lightblue;
    min-height: 80vh;
}
    
[class^='row'] {
    border: 1px dashed red;
}

[class^='col'] {
    height: 100px;
    background-color: palegreen;
    border: 1px solid coral;
} */

header{
    text-align: center;
    margin-top: 50px;
}
.ms-row{
    margin-bottom: 30px;
    text-align: start;
}
.ms-col{
    padding: 20px;
}
